In [1]:
import sys  # 导入sys模块
import time

import numpy as np

sys.setrecursionlimit(3000)
import pandas as pd

## 说明
- 生成 9*9*9 矩阵 依次对应 1～9 相位（NumStage），row，line/clo；
- 9块区域用group代表
- 确定/可能/不可能 依次用 10/1/0 来代表

## 录入矩阵

In [2]:
def creat_new_table(start_list):
    #根据录入列表生成table
    start_np=np.array(start_list1).reshape((9,9))
    the_np=np.ones((9,9,9))*start_np
    the_np=np.where(the_np==0,np.ones((9,9,9)),0)
    np_ls=[]
    num=1
    for i in the_np:
        np_ls.append(np.where(start_np==num,10,i))
        num=num+1
    the_table=np.concatenate(np_ls,axis=0).reshape((9,9,9)).astype(np.int32)
    
    return the_table

## 更新矩阵

### 生成group_np

In [3]:
def creat_group_np():
    # 生成检查group 用 np
    group_div=[
        [0,3,0,3],
        [0,3,3,6],
        [0,3,6,9],
        [3,6,0,3],
        [3,6,3,6],
        [3,6,6,9],
        [6,9,0,3],
        [6,9,3,6],
        [6,9,6,9]  
        ]
    np_ls=[]
    for nums in group_div:
        group_np=np.zeros((9,9))
        group_np[nums[0]:nums[1],nums[2]:nums[3]]=1
        np_ls.append(group_np)
    the_table=np.concatenate(np_ls,axis=0).reshape((9,9,9)).astype(np.int32)

    return the_table

### 1 to 10 后，将相关数1 to 0

#### 将group 1 to 10

In [4]:
def group_1to0(new_table):
    group_div=[
        [0,3,0,3],
        [0,3,3,6],
        [0,3,6,9],
        [3,6,0,3],
        [3,6,3,6],
        [3,6,6,9],
        [6,9,0,3],
        [6,9,3,6],
        [6,9,6,9]  
        ]
    for num_stage in range(9):
        the_where=np.array(np.where((new_table[num_stage]*creat_group_np())==10)).T
        for i in the_where:
            # 数组i 的0,1,2 依次为 group，row,col

            the_div=group_div[i[0]] #提取group 的区间
            new_table[num_stage,the_div[0]:the_div[1],the_div[2]:the_div[3]]=0 #将group区间都更新为0

            new_table[num_stage][i[1],i[2]]=10#将原10位置更新为10
    return new_table

In [5]:
def table_1to0(the_table):
    # 将10_block相关都更新为0
    the_where=np.array(np.where(the_table==10)).T
    for i in the_where:
        the_table[i[0],i[1]]=0
        the_table[i[0],:,i[2]]=0
        the_table[:,i[1],i[2]]=0
        the_table[i[0],i[1],i[2]]=10
    the_table=group_1to0(the_table)
    return the_table

### 将确定唯一的数1改为10

In [6]:
def the_one_0(the_table):
    #将num_stage 为1替换为10
    the_one=np.sum(the_table,axis=0)
    if 1 in the_one:
        the_where=np.array(np.where(the_one==1)).T
        for i in the_where:
            the_table[:,i[0],i[1]]=np.where(the_table[:,i[0],i[1]]==1,10,the_table[:,i[0],i[1]])
    return the_table

In [7]:
def the_one_1(the_table):
    #将col_stage 为1替换为10
    the_one=np.sum(the_table,axis=1)
    if 1 in the_one:
        the_where=np.array(np.where(the_one==1)).T
        for i in the_where:
            the_table[i[0],:,i[1]]=np.where(the_table[i[0],:,i[1]]==1,10,the_table[i[0],:,i[1]])
    return the_table

In [8]:
def the_one_2(the_table):
    #将line_stage 为1替换为10
    the_one=np.sum(the_table,axis=2)
    if 1 in the_one:
        the_where=np.array(np.where(the_one==1)).T
        for i in the_where:
            the_table[i[0],i[1],:]=np.where(the_table[i[0],i[1],:]==1,10,the_table[i[0],i[1],:])
    return the_table

### 检测是否有独立带1的block

In [9]:
def check_one_in(the_table):
    # 判断是否有1需要替换为10的项目
    if 1 in np.sum(the_table,axis=0):
        return True
    elif 1 in np.sum(the_table,axis=1):
        return True
    elif 1 in np.sum(the_table,axis=2):
        return True
    else:
        return False

## 循环检测更新 the_table

In [10]:
def cycle_check(the_table):
    # 循环检测其中需要更新项目
    the_table=table_1to0(the_table)
    while check_one_in(the_table):
        the_table=the_one_0(the_table)
        the_table=the_one_1(the_table)
        the_table=the_one_2(the_table)
        the_table=table_1to0(the_table)
    return the_table

## 展示结果

In [11]:
def show_table(the_table):
    #show the table maybe
    the_add=(the_table.transpose((1,2,0))).reshape((81,9)) # 对table转置
    the_add=np.where(the_add==10,1,the_add)*np.linspace(1,9,num=9,dtype=int)
    
    the_ls=[]
    the_add=the_add.astype(int)
    for i in the_add:
    #     print(i)
        ls=''
        for j in i:
            if j!=0:
                j=j.astype(str)
                ls=ls+j
        the_ls.append(ls)
        
    new_ls=[]
    for i in range(9):
        new_ls.append(the_ls[i*9:i*9+9])
    return pd.DataFrame(new_ls)

## 测试

In [12]:
time_start=time.time()
# 开局信息1
start_list1=[
    0,8,0,0,0,7,0,0,6,
    0,3,9,2,0,8,0,0,0,
    4,0,0,1,3,0,0,0,0,
    9,0,5,0,0,0,0,0,4,
    0,0,3,0,0,0,0,0,0,
    6,2,0,0,0,5,0,0,0,
    8,0,1,0,0,6,2,0,0,
    0,0,0,5,0,0,0,0,0,
    0,6,0,3,0,0,8,0,0
]
new_table=creat_new_table(start_list1)
new_table=table_1to0(new_table)
show_table(new_table)

     0     1    2      3        4     5       6        7       8
0  125     8    2     49      459     7   13459   123459       6
1  157     3    9      2      456     8    1457     1457     157
2    4    57  267      1        3     9     579    25789   25789
3    9    17    5    678    12678   123    1367   123678       4
4   17   147    3  46789  1246789  1249   15679  1256789  125789
5    6     2  478   4789    14789     5    1379    13789   13789
6    8  4579    1    479      479     6       2    34579    3579
7  237   479  247      5   124789  1249  134679   134679    1379
8  257     6  247      3    12479  1249       8    14579    1579

In [13]:
the_table=cycle_check(new_table)
show_table(the_table)

   0  1  2    3   4  5     6      7     8
0  1  8  2    4   5  7    39     39     6
1  5  3  9    2   6  8     4     17    17
2  4  7  6    1   3  9     5     28    28
3  9  1  5  678  27  3    67   2678     4
4  7  4  3  689  29  1    69  25689  2589
5  6  2  8   79   4  5  1379   1379   179
6  8  5  1   79  79  6     2      4     3
7  3  9  4    5   8  2   167    167    17
8  2  6  7    3   1  4     8     59    59

In [14]:
time_end=time.time()
print(time_end-time_start)

0.02823019027709961

In [15]:
np.sum(the_table,axis=0)

array([[10, 10, 10, 10, 10, 10,  2,  2, 10],
       [10, 10, 10, 10, 10, 10, 10,  2,  2],
       [10, 10, 10, 10, 10, 10, 10,  2,  2],
       [10, 10, 10,  3,  2, 10,  2,  4, 10],
       [10, 10, 10,  3,  2, 10,  2,  5,  4],
       [10, 10, 10,  2, 10, 10,  4,  4,  3],
       [10, 10, 10,  2,  2, 10, 10, 10, 10],
       [10, 10, 10, 10, 10, 10,  3,  3,  2],
       [10, 10, 10, 10, 10, 10, 10,  2,  2]])

## 寻找 twin block

In [16]:
the_two=np.sum(the_table,axis=0)
the_two_where=np.array(np.where(the_two==2)).T
the_two_where

array([[0, 6],
       [0, 7],
       [1, 7],
       [1, 8],
       [2, 7],
       [2, 8],
       [3, 4],
       [3, 6],
       [4, 4],
       [4, 6],
       [5, 3],
       [6, 3],
       [6, 4],
       [7, 8],
       [8, 7],
       [8, 8]])

In [19]:
# 检查同一行的是否 相同
    #如相同，将同一行其他 twin——num清零

# 检查同一列是否相同
  #如相同，将同一列其他 清零

# 检查同一group 是否相同

In [21]:
show_table(the_table).duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool